:root {
    --app-background-main: #1c1d22;
    --app-background-secondary: #40444b;
    --app-text-color: #eeeeee;
}

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.app {
    display: grid;
    grid-template-rows: 3lh 1fr;

    min-height: inherit;
    background-color: var(--app-background-main);
    color: var(--app-text-color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    padding: 0.5lh;
}

input {
    height: 100%;
    border: none;
    border-radius: 1lh;
    
    &[type=search] {
        min-width: 20em;
        font-size: 1.1rem;
        padding-left: 1rem;
        background-color: var(--app-background-secondary);
        color: var(--app-text-color);
    }
    
    &:focus {
        outline: none;
    }
}